# Ignore node_modules directory
node_modules/

# Ignore build output
dist/

# Editor configs
.idea/
.vscode/

# Ignore .DS_Store files on Mac OS
.DS_Store

# Ignore other system files
Thumbs.db
ehthumbs.db
Desktop.ini
